@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Anek+Malayalam:wght@100&family=Cairo:wght@200;500&family=League+Gothic&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Anek+Malayalam:wght@100&family=Cairo:wght@200;300;500&family=League+Gothic&display=swap');



body{
    background-color: rgb(255, 255, 255);
    background-image: url='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png';

}

a{
    color: rgb(0, 0, 0);

}

h1 {
    background-color: white;
    color: black;
    font-family: 'Cairo', sans-serif;
}
h2{
    color:black;
}


p{
    background-color: white;
    color: black;
    font-family: 'Cairo', sans-serif;

}